/* Write your CSS here */
.match-card-item {
  list-style: none;
  width: 45%;
  background-color: #1e293b;
  border-radius: 6px;
  margin: 15px;
}
.card-image {
  width: 50px;
  height: 50px;
}

.team-name {
  font-size: 22px;
  font-family: 'Bree Serif';
  font-weight: 500;
  font-weight: 500;
}
.team-result {
  font-size: 12px;
  font-family: 'Bree Serif';
  font-weight: 500;
}
.loss {
  color: #e31a1a;
  font-size: 12px;
  font-family: 'Bree Serif';
  font-weight: 500;
}
.win {
  color: #18ed66;
  font-size: 12px;
  font-family: 'Bree Serif';
  font-weight: 500;
}
